#main_1{
	top: 5px;
	left: 5px;
	width: 695px;
	height: 75px;
}
#main_2{
	top: 95px;
	left: 5px;
	width: 308px;
	height: 71px;
}
#main_3{
	top: 180px;
	left: 5px;
	width: 308px;
	height: 263px;
}
#main_4{
	top: 5px;
	left: 715px;
	width: 165px;
	height: 440px;
}
#main_5{
	top: 455px;
	left: 5px;
	width: 875px;
	height: 125px;
}
