body{
	background-color: #EEEEEE;
	width: 375px;
	margin-right: auto;
	margin-left : auto;
	margin-top: 0px;
	margin-bottom: 0px;

}

#contents{
	position: relative;
	height: 700px;
	background: url("../images/touzoku/background.png") 0 0 no-repeat;
	background-size:cover;
}

#background{
	width: 375px;
}

header{
	height: 60px;
	background-color: #c0ffee;
	opacity: 0.8;
}

#sps_show_area{
	width: 200px;
	padding: 3px 3px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: #ABCDEF;
}

#sps{
	font-style: italic;
	font-size: 25px;
}

#sps_unit_text{
	font-size: 20px;
}

#menu_button{
	color: #FFFFFF;
	width: 70px;
	background-color: #456456;
}


.collapse{
	display: none;
}

#menu{
	z-index: 1;
	position: absolute;
	top: 40px;
	left: 0px;
	width: 300px;
	height: 540px;
	opacity: 0.9;
	background-color: #345789;
}



#menu_collapse_button{
	color: #FFFFFF;
	padding-top: 16px;
	text-align: center;
	width: 300px;
	height: 50px;
	background-color: #440033;
}

#menu_collapse_button:hover{
	opacity: 0.4;
}

#hire_tab_button{
	float: right;
	color: #EFFFEF;
	padding-top: 6px;
	text-align: center;
	width: 150px;
	height: 30px;
	background-color: #123123;
	border-bottom:1px solid #EFFFEF;
}

#shop_tab_button{
	float: right;
	color: #EFFFEF;
	padding-top: 6px;
	text-align: center;
	width: 150px;
	height: 30px;
	background-color: #321321;
}

#item_detail_area{
	margin-top: 30px;
	position: relative;
	background-color: #123123;
	height: 160px;
	border-bottom: 1px solid #EFFFEF;
}

#item_detail_character_name{
	position: absolute;
	top:4px;
	left: 2px;
	font-size: 24px;
	color: #FFFFFF;
}

#item_detail_sps{
	position: absolute;
	top:4px;
	left: 202px;
	font-size: 24px;
	color: #EFFFEF;	
}

#item_detail_sps_unit{
	position: absolute;
	top:14px;
	left: 260px;
	font-size: 15px;
	color: #AFFFAF;
}

#item_detail_character_image{
	position: absolute;
	top:40px;
	left: 5px;
	width: 70px;
}

#item_detail_character_text{
	color: #EFFFEF;
	font-size: 12px;
	position: absolute;
	top:43px;
	left: 90px;
	width: 200px;
}

.attributes{
	color: #AFFFAF;
	font-size: 9px;	
}

#cost_text{
	position: absolute;
	top:118px;
	left: 4px;
}

#level_text{
	position: absolute;
	top:118px;
	left: 120px;
}

#item_detail_character_cost{
	position: absolute;
	top:124px;
	left: 25px;
	font-size: 24px;
	color: #EFFFEF;
}

#item_detail_character_level{
	position: absolute;
	top:124px;
	left: 142px;
	font-size: 24px;
	color: #EFFFEF;
}

#item_detail_hire_button{
	padding: 5px 3px;
	width: 90px;
	height: 40px;
	position: absolute;
	top:114px;
	left: 204px;
	font-size: 20px;
}

.hire_button{
	color: #AFFFAF;
	background-color: #456;
	border: 1px solid #AFFFAF;	
}

.available{
	background-color: #FFA;
	border:1px solid #EEF;
	color: #440;	
}


#hire_character_list{
	padding-left: 0px;
	margin-left: 0px;
}

.hire_character{
	float: left;
	width: 100px;
	height: 100px;
	list-style: none;
	background-color: #123123;
	/*border:1px solid #AFFFAF;*/
}

.hire_character:hover{
	opacity: 0.4;
}

.hire_item_character_name{
	position: relative;
	top: 2px;
	left: 2px;
	color: #EFFFEF;
	font-size: 16px;
}

.hire_item_character_image{
	float: left;
	position: relative;
	top: 3px;
	left: 5px;
	width: 60px;
}

.hire_item_level{
	position: relative;
	top: 55px;
	left:9px;
	font-size: 18px;
	color: #EFFFEF;
}


/*  メニュー以外*/

#lever{
	position: absolute;
	top: 300px;
	left: 275px;
	width: 100px;
}

#siso_line_area{
	position: absolute;
	top:360px;
	left: 0px;

}

#siso_list{
	padding-left: 0px;
	list-style: none;
	margin: 0px 0px;
}

.siso{
	position: absolute;
	top: 10px;
	left: 300px;
	opacity: 1;
}

.siso_image{
	width: 90px;
}

#score{
	font-size: 20px;
	color: #983485;
}